In [1]:
import sqlite3

In [2]:
cliente = 'clientes.db'

# Criar Tabelas

In [9]:
script_clientes = '''
CREATE TABLE IF NOT EXISTS Clientes(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER NOT NULL,
    email TEXT NOT NULL
);
'''

try:
    with sqlite3.connect(cliente) as con:
        # criar um cursor
        cur = con.cursor()

        # Executar o script
        cur.execute(script_clientes)

        # Salvar as alterações no banco de dados
        con.commit()
        print("Tabela criada com sucesso!")
except sqlite3.OperationalError as e:
    print("Erro: ", e)

Tabela criada com sucesso!

# Consultar a Tabela

In [10]:
sql = 'SELECT * FROM Clientes'

try:
    with sqlite3.connect(cliente) as con:
        # Criar cursor
        cur = con.cursor()

        # Executar o script
        cur.execute(sql)
        res = cur.fetchall()  # retorna uma lista de listas
        print(res)

except sqlite3.OperationalError as e:
    print('Erro', e)

[]

# Inserir dados

In [11]:
sql = 'INSERT INTO Clientes (nome, idade, email) VALUES (?, ?, ?)'

try:
    with sqlite3.connect(cliente) as con:
        # Criar o cursor
        cur = con.cursor()

        # Executar o script
        cur.execute(sql, ('Alexsandra', 20, 'alexsandra@gmail.com'))

        # Salvar as alterações no banco de dados
        con.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)

# Atualizar um registro

In [12]:
sql = 'UPDATE Clientes SET idade = ? WHERE id = ?'

try:
    with sqlite3.connect(cliente) as con:
        # Criar cursor
        cur = con.cursor()
        # Executar o script
        cur.execute(sql, (28, 1))
        # Salvar as alterações no banco de dados
        con.commit()
except sqlite3.OperationalError as e:
    print('Erro', e)

# Deletar registro

In [13]:
sql = 'DELETE FROM Clientes WHERE id = ?'
try:
    with sqlite3.connect(cliente) as con:
        cur = con.cursor()
        cur.execute(sql, (2,))
        con.commit()
except sqlite3.OperationalError as e:
    print('Erro', e)

In [14]:
con.close()
print("Conexão encerrada.")

Conexão encerrada.