# 1. Banco de Dados

## 1.1. O que é um banco de dados?

Um banco de dados é uma estrutura organizada para armazenar informações de forma segura e acessível.
Diferente de variáveis comuns em Python (que somem quando o programa termina), o banco de dados guarda os dados permanentemente.

## 1.2. Por que usar um banco de dados?

Porque precisamos:

Armazenar grandes volumes de dados

Evitar perda de informações

Pesquisar dados de forma rápida

Relacionar informações

Compartilhar dados entre vários programas ou usuários

Organizar dados em tabelas (linhas e colunas)

## 1.3. Como o banco de dados organiza as informações?

Os bancos de dados relacionais (como SQLite, MySQL, PostgreSQL):

Organizam dados em tabelas

Cada tabela tem linhas (registros) e colunas (campos)

Trabalham com SQL (Structured Query Language), uma linguagem padrão para consultar e manipular dados

# 2. O que é SQLite e por que usamos essa tecnologia?
## 2.1. O que é SQLite?

SQLite é um banco de dados leve, simples e embutido, que funciona armazenando tudo em um único arquivo .db dentro do computador.
Não precisa instalar servidor, não precisa configurar nada avançado.

# Conectando ao banco
1. Criando o Banco de Dados e Conectando ao SQLite

In [4]:
# escreva seu código aqui
import sqlite3

conexao = sqlite3.connect('indutech.db')
cursor = conexao.cursor()

print('Banco Conectado!')

Banco Conectado!

## Crie tabela
2. Criando a Tabela funcionários

In [2]:
# escreva seu código aqui
cursor.execute("""
CREATE TABLE IF NOT EXISTS funcionarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    salario REAL NOT NULL,
    data_contratacao TEXT NOT NULL
)
""")

conexao.commit()
print("Tabela criada!")

Tabela criada!

## Listando Dados
4. Lendo Dados (Read)

In [14]:
# escreva seu código aqui
def listar_funcionarios():
    cursor.execute("SELECT * FROM funcionarios")
    for f in cursor.fetchall():
        print(f)

listar_funcionarios()

(1, 'Carlos Silva', 4800.0, '2019-05-10')
(2, 'Mariana Souza', 7200.0, '2018-08-15')
(3, 'Beatriz Ramos', 5300.0, '2021-02-11')
(4, 'Eduardo Lima', 4500.0, '2021-10-30')
(5, 'Carlos Silva', 4800.0, '2019-05-10')
(6, 'Mariana Souza', 7200.0, '2018-08-15')
(7, 'Beatriz Ramos', 5300.0, '2021-02-11')
(8, 'Eduardo Lima', 4500.0, '2021-10-30')

## Inserindo dados
3. Inserindo Dados (Create)

In [15]:
# escreva seu código aqui
def inserir_funcionario(nome, salario, data_contratacao):
    cursor.execute("""
        INSERT INTO funcionarios (nome, salario, data_contratacao)
        VALUES (?, ?, ?)
    """, (nome, salario, data_contratacao))
    conexao.commit()
    print(f"Funcionário {nome} inserido!")

inserir_funcionario("Carlos Silva", 4800, "2019-05-10")
inserir_funcionario("Mariana Souza", 7200, "2018-08-15")
inserir_funcionario("Beatriz Ramos", 5300, "2021-02-11")
inserir_funcionario("Eduardo Lima", 4500, "2021-10-30")

Funcionário Carlos Silva inserido!
Funcionário Mariana Souza inserido!
Funcionário Beatriz Ramos inserido!
Funcionário Eduardo Lima inserido!

## Atualizar Dados
5. Atualizando Dados (Update)

In [16]:
# escreva seu código aqui
def atualizar_salario(id_func, novo_salario):
    cursor.execute("UPDATE funcionarios SET salario = ? WHERE id = ?", (novo_salario, id_func))
    conexao.commit()
    print("Salário atualizado!")

## Deletar Dados
6. Deletando Dados (Delete)

In [ ]:
# escreva seu código aqui
def deletar_funcionario(id_func):
    cursor.execute("DELETE FROM funcionarios WHERE id = ?", (id_func,))
    conexao.commit()
    print("Funcionário deletado!")

## 7. Consultas Específicas

1. Funcionários que ganham acima de R$ 5.000,00

In [ ]:
# escreva seu código aqui

2. Funcionários contratados antes de 2020

In [ ]:
# escreva seu código aqui

3. Maior salário da empresa + quem recebe

In [ ]:
# escreva seu código aqui

4. Quantos funcionários foram contratados em 2021

In [ ]:
# escreva seu código aqui

5. Funcionários ordenados do maior para o menor salário

In [ ]:
# escreva seu código aqui

## Fechar a conexão
8. Fechando a Conexão

In [ ]:
# escreva seu código aqui